<link rel="stylesheet" href="/static/css/pages/user.v1.css" />
<link rel="stylesheet" href="/static/css/fa-extra.v1.css" />

<section class="section main-background">
    <div class="container user-profile">
        <div class="columns" style="width: 100%;">
            <div class="column user-info">
                <center>
                <div class="user-avatar" style="background-image: url(http://a.lupinus.ml/{{user.id}});"></div></center>
                <div id="user-data">
                    <span class="username">{{#if country_code}}<a href="/leaderboards/osu/vn/pp"><span
                            class="country no-underline-tooltip has-tooltip-arrow"
                            data-tooltip="{{country_name}}">{{country_code}}</span></a>{{/if}}
                        {{user.name}}</span>
                    {{#if verified}}<span class="no-underline-tooltip has-tooltip-arrow"
                        data-tooltip="Verified Player"><i class="fa fa-check verify-check"></i></span>{{/if}}<br>

                    {{#if role}}
                        <span style="color: {{role.color}}; font-size: 0.9em; font-weight: 500;">{{role.name}}</span>
                    {{/if}}
                </div>
                <div id="roles">
                    {{#each roles}}
                    <span class="tag no-underline-tooltip has-tooltip-arrow" data-tooltip="{{this.name}}"
                        style="background-color: #17191c !important; color: {{this.color}};">
                        {{this.tag}}
                        {{#if this.mode}}
                        <span style="padding: 1px 0px 0px 4px; color: white;"
                            class="fal fa-extra-mode-{{this.mode}}"></span>
                        {{/if}}
                        {{#if this.icon}}
                        <i style="padding: 1px 0px 0px 4px; color: white; font-size: 1.5em;"
                            class="fab fa-{{this.icon}}"></i>
                        {{/if}}
                    </span>
                    {{/each}}
                </div>
                <span style="font-size: 0.7em;"><span id="follower-count">{{followers}}</span> follower(s)</span>
                <div id="dates" style="margin: 0px; line-height: 12px;">
                    <span style="font-size: 0.7em; color:#3a94ff;">Joined: <strong
                            style="color: white; padding-left: 2px;">{{dates.created}}</strong></span><br>
                    <span style="font-size: 0.7em; color:#3a94ff;">Last Seen: <strong
                            style="color: white; padding-left: 2px;">{{dates.last}}</strong></span>
                </div>
            </div>
            <div class="column">
                <div class="columns user-body">
                    <div class="column biography" id="biography">
                        {{#if user_settings.bio}}
                        {{user_settings.bio}}
                        {{else}}
                        [i]No biography provided...[/i]
                        {{/if}}
                    </div>
                    <div class="column">
                        <div class="columns user-body">
                            <div class="column user-header">
                                Profiles are work in progress!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/static/js/pages/user.v1.js"></script>